@{
    ViewData["Title"] = "AUA:Home Page";
}

<div class="text-center p-5">

    <div class="alert  alert-success  fade show">
        Welcome to  Asp.Net Unique Architecture
    </div>
    <p style="text-align: justify" class="p-3">
        Using the AUA  ( <strong><span style="color: #dc143c"> A</span>sp.Net <span style="color: #dc143c">U</span>nique <span style="color: #dc143c">A</span>rchitecture</strong> ) Framework, you can easily have better, faster, and more orderly and focused coding.
        This framework is based on new and up-to-date concepts, structures and architectures, including:
        <strong>Clean Architecture</strong>,
        <strong>Clean Code</strong>,
        <srtong>Domain-driven design (DDD)</srtong>,
        <srtong>Lmax Architecture</srtong>,
        <strong>SOLID Principle</strong>,
        <strong>Code Refactoring</strong>,
        <strong>GRASP (object-oriented design principle)</strong>.

    </p>
    <p class="p-5">Learn about <a href="https://auaframework.com/Document/Introduction">building Web apps with AUA Framework</a>.</p>

    <a asp-area="Accounting" asp-action="Login" asp-controller="Account" class="btn btn-primary">Get Started</a>
    
    <hr/>

    <div class="alert alert-primary" role="alert">
        <p>
            The AUA team suggests using the WebApi version and writing the UI from a JavaScript framework such as Angular ,Vue Js, ....
        </p> 
    </div>


</div>

