AUA.ProjectName/.vs/AUA.ProjectName/v16
AUA.ProjectName/AUA.ProjectName.Common/obj
AUA.ProjectName/AUA.ProjectName.DataLayer/obj
AUA.ProjectName/AUA.ProjectName.DomainEntities/obj
AUA.ProjectName/AUA.ProjectName.InMemoryServices/obj
AUA.ProjectName/AUA.ProjectName.ManualMapping/obj
AUA.ProjectName/AUA.ProjectName.Models/obj
AUA.ProjectName/AUA.ProjectName.Services/obj
AUA.ProjectName/AUA.ProjectName.Tests/obj
AUA.ProjectName/AUA.ProjectName.ValidationServices/obj
AUA.ProjectName/AUA.ProjectName.WebApi/obj
AUA.ProjectName/.vs
AUA.ProjectName/AUA.ProjectName.Common/bin
AUA.ProjectName/AUA.ProjectName.DataLayer/bin
AUA.ProjectName/AUA.ProjectName.DomainEntities/bin
AUA.ProjectName/AUA.ProjectName.InMemoryServices/bin
AUA.ProjectName/AUA.ProjectName.ManualMapping/bin
AUA.ProjectName/AUA.ProjectName.Models/bin
AUA.ProjectName/AUA.ProjectName.Services/bin
AUA.ProjectName/AUA.ProjectName.ValidationServices/bin
AUA.ProjectName/AUA.ProjectName.WebApi/bin
AUA.ProjectName/AUA.ProjectName.Tests/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.Common/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.DataLayer/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.DomainEntities/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.InMemoryServices/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.ManualMapping/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.Models/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.Services/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.Tests/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.ValidationServices/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.WebUi/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.WebUi/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.ValidationServices/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.Services/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.Models/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.ManualMapping/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.InMemoryServices/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.DomainEntities/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.DataLayer/obj
Mvc/V1.1_DotNet5/AUA.ProjectName/.vs/AUA.ProjectName/v16/.suo
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.Common/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/AUA.ProjectName.Tests/bin
Mvc/V1.1_DotNet5/AUA.ProjectName/.vs/AUA.ProjectName/DesignTimeBuild/.dtbcache.v2
WebApi/V1.0_DotNet5/AUA.ProjectName/.vs/AUA.ProjectName/v16/.suo
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.Common/obj
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.DataLayer/bin
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.DomainEntities/bin
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.InMemoryServices/bin
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.ManualMapping/bin
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.Models/bin
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.Services/bin
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.Tests/bin
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.ValidationServices/bin
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.WebApi/bin
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.WebApi/obj
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.ValidationServices/obj
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.Tests/obj
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.Services/obj
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.Models/obj
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.ManualMapping/obj
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.InMemoryServices/obj
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.DomainEntities/obj
WebApi/V1.0_DotNet5/AUA.ProjectName/AUA.ProjectName.DataLayer/obj
