<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/adminDashboard/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="~/adminDashboard/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

    <!-- sweet-alert -->
    <link href="~/SweetAlert/dist/sweetalert.css" rel="stylesheet" />
    <script src="~/SweetAlert/dist/sweetalert.js"></script>

</head>
<body>

    <partial name="DashboardLayout/Admin/_LeftPanelLayout" />

    <div id="right-panel" class="right-panel">

        <partial name="DashboardLayout/Admin/_HeaderLayout" />
        <partial name="DashboardLayout/Admin/_RouteLayout" />

        <div class="content mt-3">

            @RenderBody()

        </div>
    </div>

    <partial name="MessageProvider/_DialogMessage" />

    <div id="modal-form-placeholder"></div>

    <script src="~/adminDashboard/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/adminDashboard/vendors/popper.js/dist/umd/popper.min.js"></script>

    <script src="~/adminDashboard/assets/js/main.js"></script>
    <script src="~/adminDashboard/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/adminDashboard/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/adminDashboard/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

    <script src="~/adminDashboard/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/adminDashboard/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminDashboard/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminDashboard/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminDashboard/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/adminDashboard/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/adminDashboard/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/adminDashboard/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminDashboard/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminDashboard/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/adminDashboard/assets/js/init-scripts/data-table/datatables-init.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <partial name="DashboardLayout/Admin/_AdminDashboardLayoutJs" />

</body>
</html>
