 <!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="~/adminDashboard/images/logo.png" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="~/adminDashboard/images/logo2.png" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a asp-area="Dashboard" asp-controller="AdminDashboard" asp-action="Index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Accounting</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a asp-area="Accounting" asp-controller="AppUser" asp-action="Index">Users</a></li>
                        <li><i class="fa fa-id-badge"></i><a asp-area="Accounting" asp-controller="UserAccess" asp-action="Index">User Access</a></li>
                        <li><i class="fa fa-id-badge"></i><a asp-area="Accounting" asp-controller="Role" asp-action="Index">Role</a></li>

                    </ul>
                </li>

                <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
                <li class="active">
                    <a asp-area="Accounting" asp-controller="Account"  asp-action="Logout" > <i class="menu-icon fa fa-dashboard"></i>Logout </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
<!-- Left Panel -->