@{
    ViewData["PageTitle"] = "Dashboard";
    Layout = "DashboardLayout/Admin/_AdminDashboardLayout";
}

<div class="col-sm-12">
    <div class="alert  alert-success alert-dismissible fade show" role="alert">
        <span class="badge badge-pill badge-success">AUA</span> Asp.Net Unique Architecture.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="col-md-6 col-lg-3">
    <div class="card bg-flat-color-1 text-light">
        <div class="card-body">
            <div class="h4 m-0">Performance</div>
            <div class="progress-bar bg-light mt-2 mb-2" role="progressbar" style="width: 20%; height: 5px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            <small class="text-light">Use the latest methodology and tools to speed up and produce modern web applications. </small>
        </div>
    </div>
</div>
<!--/.col-->

<div class="col-md-6 col-lg-3">
    <div class="card bg-flat-color-3 text-light">
        <div class="card-body">
            <div class="h4 m-0">Reusability</div>
            <div class="progress-bar bg-light mt-2 mb-2" role="progressbar" style="width: 20%; height: 5px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            <small class="text-light">The ability to reuse relies in an essential way on the ability to build larger things from smaller parts. </small>
        </div>
    </div>
</div>
<!--/.col-->

<div class="col-md-6 col-lg-3">
    <div class="card bg-flat-color-4 text-light">
        <div class="card-body">
            <div class="h4 m-0">Simplicity</div>
            <div class="progress-bar bg-light mt-2 mb-2" role="progressbar" style="width: 20%; height: 5px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            <small class="text-light">Quick and satisfactory way of producing a database-driven web application.</small>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-3">
    <div class="card bg-flat-color-2 text-light">
        <div class="card-body">
         
            <div class="h4 m-0">Well Design</div>
            <div class="progress-bar bg-light mt-2 mb-2" role="progressbar" style="width: 20%; height: 5px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            <small class="text-light">Clean Architecture, Clean Code, Code Refactoring, Domain-driven design (DDD)</small>
        </div>
    </div>
</div>
