<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/adminDashboard/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/adminDashboard/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/adminDashboard/assets/css/style.css">
    <!-- sweet-alert -->
    <link href="~/SweetAlert/dist/sweetalert.css" rel="stylesheet" />
    <script src="~/SweetAlert/dist/sweetalert.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body class="bg-flat-color-2">
    <div>
        @RenderBody()
    </div>

    <script src="~/adminDashboard/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/adminDashboard/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/adminDashboard/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/adminDashboard/assets/js/main.js"></script>

</body>
</html>
